.publishBtn{
    color: red;
}

.publishDiv{
    background-color: rgb(243, 218, 217);
    padding: 30px;
    box-sizing: border-box;
}

.writer{
    background-color: #fff;
}

.Events {
    margin:10px;
    padding:30px;
}
.EventsPicture {
    width:500px;
    margin:0 auto;
}