@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*Tab Bar*@
@* <div id="TabBar" class="TabBar">
    <ul class="row">
        <li class="col-6"><a class="nav-link TabBar-a" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="col-6"><a class="nav-link TabBar-a" asp-controller="Obtain" asp-action="Index">Obtain</a></li>

    </ul>
</div> *@
@*wraaper*@
@*<div class="row mt-3 mb-5 wrapper">*@
@*Sider*@
@* <div id="siderbar">
        <ul>

        </ul>
    </div> *@
@*Context*@
@* <div id="Context">
        <ul class="row p-5 align-items-center">
            <li class="col-3 event-box">
                <a class="event-context" asp-controller="Home" asp-action="Index">
                    <img class="event-img" src="~/assets/img/post/post_1.jpg" />
                    新手七日登入簽到
                </a>
            </li>
            <li class="col-3 event-box">
                <a class="event-context" asp-controller="Home" asp-action="Index">
                    <img class="event-img" src="~/assets/img/post/post_10.jpg" />
                    每日小任務
                </a>
            </li>
            <li class="col-3 event-box">
                <a class="event-context" asp-controller="Home" asp-action="Index">
                    <img class="event-img" src="~/assets/img/post/post_9.jpg" />
                    發文成就黨
                </a>
            </li>
            <li class="col-3 event-box">
                <a class="event-context" asp-controller="Home" asp-action="Index">
                    <img class="event-img" src="~/assets/img/post/post_7.jpg" />
                    課長專屬
                </a>
            </li>
            <li class="col-3 event-box">
                <a class="event-context" asp-controller="Home" asp-action="Index">
                    <img class="event-img" src="~/assets/img/post/post_5.jpg" />
                    潛水王
                </a>
            </li>
        </ul>
    </div> 
</div>*@

<div class="wrapper ">

    <div class="content " id="app">
        <div class="catgory">
            <h1>Worm Shop</h1>

        </div>
        <div class="side">
            <div class="neighbor">
                <h1 style="font-size:30px">Wallet</h1>
                <h2 style="text-align:right"><i class="fa-solid fa-coins fa-beat"></i>{{coins}}</h2>

            </div>
            <ul class="chatRoom">
                <h1>打工人~打工魂!!</h1>
                <li>
                    <a href="">
                        <h1>邀請好友註冊獲得蟲洞碧</h1>
                        <p>詳情請點進連結</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h1>要錢沒有要命一條</h1>
                        <p>完成指定數量負評獲取蟲洞碧獎勵</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h1>一人一句匿名樹洞</h1>
                        <p>完成指定數量匿名評論獲取蟲洞碧獎勵</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h1>有人跟我一樣嗎?</h1>
                        <p>發布指定數量問帖獲取蟲洞碧獎勵</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h1>沒技術的渣渣進來對線</h1>
                        <p>在聊天室裡超過指定時間獲取蟲洞碧獎勵</p>
                    </a>
                </li>
            </ul>

        </div>
        <div class="foremost">
            <div style="border-bottom: 3px solid #fff; padding-bottom:10px;">
                <ul class="recommended">
                    <h1>成就徽章</h1>
                    <li>
                        <img src="~/img/貓1.jpg" alt="">
                        <h1>聖騎士團徽章</h1>
                        <p>評論同一個玩家的討論版10次</p>
                        <a asp-controller="User" asp-action="ViewProfile">Get</a>
                    </li>

                </ul>
            </div>
            <div style="border-bottom: 3px solid #fff; padding-bottom:10px;">
                <h1>稱號</h1>
                <ul class="recommended">
                    <li v-for="obtain in obtains">
                        <img src="~/img/貓1.jpg" alt="" />

                        <h1>{{obtain.name}}</h1>
                        <p>{{obtain.condition}}</p>
                        <p>蟲洞幣：{{obtain.price}}</p>
                        <a href="#">Get</a>
                    </li>
                    @* <li> *@
                    @*     <img src="~/img/貓2.jpg" alt=""> *@
                    @*     <h1>全球第一輔助</h1> *@
                    @*     <p>幫助最多新的使用者完成七日任務</p>    *@
                    @*     <a href="#">Get</a> *@
                    @* </li> *@
                    @* <li> *@
                    @*     <img src="~/img/貓3.jpg" alt=""> *@
                    @*     <h1>卍宇宙最專一純情a煞氣寶卍</h1> *@
                    @*     <p>只按過一個使用者的好評，且超過500次</p>  *@
                    @*     <a href="#">Get</a> *@
                    @* </li> *@
                    @* <li> *@
                    @*     <img src="~/img/貓4.jpg" alt=""> *@
                    @*     <h1>開膛手傑克的手</h1> *@
                    @*     <p>檢舉成功超過99次</p>      *@
                    @*     <a href="#">Get</a> *@
                    @* </li> *@
                    @* <li> *@
                    @*     <img src="~/img/貓5.jpg" alt=""> *@
                    @*     <h1>別拿你的身家跟我比零用錢</h1> *@
                    @*     <p>此稱號由官方認證</p> *@
                    @*     <a href="#">Get</a> *@
                    @* </li> *@

                </ul>
            </div>
        </div>


    </div>
</div>
</div>

<script>
    Vue.createApp({
        data() {
            return {
                obtains:[],
                coins:0,

            }
        },
        methods: {

            getObtains() {
                let self = this;
                fetch("/api/ObtainsApi/GetObtains").then(x => x.json()).then(res => self.obtains = res)
            },
                    //查使用者的wallet
                    getCoins(id){
                        let self = this;
                         fetch("/api/User/GetUserCoins?id="+id).then(x => x.json()).then(coins => self.coins = coins)

            }
            

        },
        mounted() {
            this.getObtains();
            this.getCoins(3);
        }
    }).mount("#app")

</script>