<div id="RelationList">
    <div class="col-lg-4">
        <div class="order_box">
            <div style="border-bottom:2px solid #333; margin-bottom:20px;">
                <h2 style="margin-bottom: 10px;">Relation List</h2>
                <ul class="list" v-for="friend in relations" :key="friend.inviteeId">
                    <li>
                        <a :href="'/User/ViewProfile?id='+friend.inviteeId">
                            <h3 style="margin:0px;">{{friend.inviteeName}}</h3>
                            <p class="ellipsis-text">{{friend.relationTypre}}</p>
                        </a>
                    </li>
                </ul>
                @* <a href="#" style="font-size: 16px; color: blue;">Show More</a> *@
            </div>
            <div style="border-bottom:2px solid #333; margin-bottom:20px;">
                <h2 style="margin-bottom: 10px;">Inviting List</h2>
                <ul class="list" v-for="invitee in invitings" :key="invitee.inviteeId">
                    <li>
                        <a :href="'/User/ViewProfile?id='+invitee.inviteeId">
                            <h3 style="margin:0px;">{{invitee.inviteeName}}</h3>
                            <p class="ellipsis-text">{{invitee.invite}}</p>
                        </a>
                    </li>
                </ul>
                @* <a href="#" style="font-size: 16px; color: blue;">Show More</a> *@
            </div>
            @* <div style="border-bottom:2px solid #333; margin-bottom:20px;"> *@
            @*     <h2 style="margin-bottom: 10px;">Inviting List</h2> *@
            @*     <ul class="list" v-for="self in invitings" :key="self.inviterId"> *@
            @*         <li> *@
            @*             <a :href="'/User/ViewProfile?id='+self.inviterId"> *@
            @*                 <h3 style="margin:0px;">{{self.inviterName}}</h3> *@
            @*                 <p class="ellipsis-text">{{self.invite}}</p> *@
            @*             </a> *@
            @*         </li> *@
            @*     </ul> *@
            @*     @* <a href="#" style="font-size: 16px; color: blue;">Show More</a> *@ 
            @* </div> *@
        </div>
    </div>
</div>

<script>
    Vue.createApp({
        data(){
            return{
                relations:[],
                invitings:[],
            }
        },
        methods:{
            async getRelations(){
                let _this=this;
                var i;
                await fetch('/api/Relation/GetRelation',{
                    credentials: 'include',
                }).then(x=>x.json()).then(res=>{
                    for(i=0;i<res.length;i++){
                        if(res[i].invite!="申請中"){
                                _this.relations.push({
                                inviteeId: res[i].inviteeId,
                                inviteeName: res[i].inviteeName,
                                relationTypre: res[i].relationTypre
                            });
                        }
                        else{
                            _this.invitings.push({
                                inviteeId: res[i].inviteeId,
                                inviteeName: res[i].inviteeName,
                                invite: res[i].invite
                            });
                        }
                    }                                  
                });
            },
        },
        mounted(){
            this.getRelations();
        },
    }).mount("#RelationList");
</script>