<body>
    <!-- header end -->
    <main class="login-bg">
        <!-- Register Area Start -->
        <div class="register-form-area">
            <div class="register-form text-center">
                <!-- Login Heading -->
                <div class="register-heading">
                    <span>Sign Up</span>
                    <p>Create your account to get full access</p>
                </div>
                <form action="/Account/Register" method="post">
                <!-- Single Input Fields -->
                    <div class="input-box" style="margin-bottom:20px;">
                        <div class="single-input-fields" style="overflow: hidden;">
                            <label>Username</label>
                            <input type="text" name="Account" placeholder="Enter username" style="margin-bottom: 10px;">
                            <label style="float:left; color: green; font-size: 12px; margin-bottom: 20px;">Valid Username</label>
                        </div>
                        <div class="single-input-fields" style="overflow: hidden;">
                            <label>Email Address</label>
                            <input type="email" name="Email" placeholder="Enter email address" style="margin-bottom: 10px;">
                            <label style="float:left; color: green; font-size: 12px; margin-bottom: 20px;">Valid Email</label>
                        </div>
                        <div class="single-input-fields" style="overflow: hidden;">
                            <label>Password</label>
                            <input type="password" name="Password" placeholder="Enter Password" style="margin-bottom: 10px;">
                            <label style="float:left; color: green; font-size: 12px; margin-bottom: 20px;">Valid Password</label>
                        </div>
                        <div class="single-input-fields" style="overflow: hidden;">
                            <label>Confirm Password</label>
                            <input type="password" name="ConfirmPassword" placeholder="Confirm Password" style="margin-bottom: 10px;">
                            <label style="float:left; color: green; font-size: 12px; margin-bottom: 20px;">Password Correct</label>
                        </div>
                    </div>
                
                    <!-- form Footer -->
                    <div class="register-footer">
                        <p> Already have an account? <a href="login.html"> Login</a> here</p>
                        <button class="submit-btn3">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Register Area End -->
    </main>

</body>