<body>

    <main class="login-bg" style="height: 140vh;">
        <!-- login Area Start -->
        <div class="login-form-area" id="app">
            <form action="/BOManager/Login" method="post">
                <div class="login-form">
                    <!-- Login Heading -->
                    <div class="login-heading">
                        <span>Manager Login</span>
                        <p>Enter Login details to get access</p>
                    </div>
                    <!-- Single Input Fields -->
                    <div class="input-box">

                        <div class="single-input-fields">
                            <label>Account</label>
                            <input type="text" name="Account" placeholder="Username or Email address">
                        </div>
                        <div class="single-input-fields">
                            <label>Password</label>
                            <input type="password" name="Password" placeholder="Enter Password">
                        </div>

                       
                    </div>
                    <!-- form Footer -->
                    <div class="login-footer">
                        <button class="submit-btn3" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- login Area End -->
    </main>


</body>