.marquee {
    overflow: hidden;
    width: 100%;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 40s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/*.btn-like {
    background-color: gray;
    color: white;
}

.btn-dislike {
    background-color: gray;
    color: white;
}*/

.btn-liked {
    color: black;
    background-color: green;
}

.btn-disliked {
    color: black;
    background-color: red;
}
textarea{
    width:50%;
    height:150px;
}
table {
    border-style: solid;
}

th, td {
    color:gray;
    width: 150px;
    border: solid;
    text-align: center;
    border-color: gray;
}